<!--===================================================-->
    <div class="bg-color-sky-light">
        <div class="content-md container">
            <div class=""> <!-- <div class="row margin-b-40"> -->
                <div class=""><!--<div class="col-sm-6"> -->
                    <h2>SunEnergy <img class="navbar-logo-img" src="img/logo.png" alt="SunEnergy"></h2>
                    <p> Продажа, монтажа и мониторинг оборудования на солнечных батареях</p>
					<p> Мы реализуем гибкие солнечные панели и комплексы энергообслуживания от германской фирмы <b>Sonnenkraft</b>.</p>
					<p> Фотоэлектрические модули <b>Sonnenkraft</b> имеют встроенную поддержку &laquo;умного&raquo; поглощения и накопления энергии,
					Благодаря передовым разработкам, выработка энергии составлят на 50% выше существующих российских, нидерладских аналогов.
					Приобретеное оборудование окупается за два летних сезона. 
					</p>
					<p> Солнечная электростанция имеет возможность прогнозирования вырабатываемого количества энергии в зависимости от количества солнечных дней в тех или иных российских регионах;
					широкий диапазон мощностей (от 10Вт до 300Вт), регулировка напряжения, 
					простой монтаж и минимальное обслуживание;
					солнечные панели позволяют создавать полностью автономные энергетические системы/
					</p>
                </div> 
             </div> 

            <!-- Masonry Grid -->
            <div class="masonry-grid">
                <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/800x400/01.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Солнечные батареи</h3>
                            <p class="color-white margin-b-0">Солнечные батареи полностью герметичны, могут работать в различных климатических условиях и выдерживают большие ветровые и снеговые нагрузки. Срок службы солнечных батарей для дома составляет 25 лет.</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/397x400/01.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Полный комплект</h3>
                            <p class="color-white margin-b-0">Контроллеры заряда, регулирующие работу аккумуляторных батарей</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/397x300/01.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Солнечные электростанции повышенной мощности</h3>
                            <p class="color-white margin-b-0">Варианты с инверторами мощностью от 6 кВт и предназначены для использования в частном коттедже или загородном доме в качестве полностью автономного электроснабжения</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/397x300/02.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Электростанции для частных домов</h3>
                            <p class="color-white margin-b-0">предназначены для использования на даче, в загородном доме и в коттедже в качестве полностью автономного электроснабжения</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/397x300/03.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Быстрая установка</h3>
                            <p class="color-white margin-b-0">Комплекты солнечных электростанций для дома протестированы и подобраны нашими инженерами и имеют все необходимое для быстрой установки.</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/397x400/02.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Cреднесуточной выработкой до 2,8 кВт*ч</h3>
                            <p class="color-white margin-b-0">Номинальная мощность солнечных модулей в предложенных комплектах солнечных электростанций составляет от 500 до 750 Вт. Это дает возможность гарантированно пользоваться холодильником, телевизором, электроприборами</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
                <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                    <!-- Work -->
                    <div class="work">
                        <div class="work-overlay">
                            <img class="full-width img-responsive" src="img/800x400/02.jpg" alt="Portfolio Image">
                        </div>
                        <div class="work-content">
                            <h3 class="color-white margin-b-5">Существенная экономия</h3>
                            <p class="color-white margin-b-0">Если у вас имеется централизованное электроснабжение, возможно доукомплектование электростанции гибридным инвертором, который будет &laquo;домешивать&raquo; в сеть энергию солнечных батарей</p>
                        </div>
                        <a class="content-wrapper-link" href="#"></a>
                    </div>
                    <!-- End Work -->
                </div>
            </div>
            <!-- End Masonry Grid -->
        </div>
    </div>
    <!-- End Work -->

    <!-- Clients -->
    <div class="section-seperator">
        <div class="content-md container">
            <div class=""> <!--<div class="row margin-b-40">  -->
                <div class="col-sm-6"> <!-- <div class="col-sm-6"> -->
                    <h2></h2>
                    <p>Первоначально солнечные батареи на основе фотоэлементов были дорогими и использовались крайне ограниченно. Стремительный рост научных разработоки и инжеерной мысли привел к фантастическому удешевлению панелей и аппаратуры.</p>
					<p>
                    <b>Sonnenkraft</b> может работать не только в солнечные дни, но и в облачные. И даже по ночам генераторы не останавливаются, продолжая снабжать людей электричеством.</p>
				</div>
            </div>

            <div class="swiper-slider swiper-clients">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/01.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/02.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/03.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/04.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/05.png" alt="Clients Logo">
                    </div>
                    <div class="swiper-slide">
                        <img class="swiper-clients-img" src="img/clients/06.png" alt="Clients Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">&uarr;</a>

        <!-- STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--  PLUGIN STYLES -->
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
        <!-- THEME STYLES -->
        <link href="css/layout.min.css" rel="stylesheet" type="text/css"/>

        <!-- CORE PLUGINS -->
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <!-- <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->

        <!--  PLUGINS -->
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

        <!--  SCRIPTS -->
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/masonry.min.js" type="text/javascript"></script>