<!DOCTYPE html>
<html>
  <head>
    <title>Демо Авторизация: nodejs, express и passportjs</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="robots" content="noindex,nofollow">
  </head>
  <body>
  
<div class="demo"><a class="permalink" href="http://www.itlessons.info/nodejs/auth-with-express-and-passportjs/">< cсылка на статью</a>
  <h1>Авторизация: nodejs, express и passportjs</h1>
  <p>
    <div id="user">
      <p>Вы не авторизованы!</p><a href="/auth">Авторизоваться ></a>
    </div>
  </p>
</div>

  </body>
</html>