<div class="container">

  <!-- просто погода 
		<div>simple weather</div>
		<div id="weather"></div>
		<link href='fonts/css.css' rel='stylesheet' type='text/css'>
		<script src="fonts/jquery.min.js"></script>
		<script src="fonts/jquery.simpleWeather.min.js"></script>
		<script src="fonts/js.js"></script>
		<link href='fonts/fonts.woff' rel='stylesheet' type='text/woff'>
		<link href='fonts/fonts.ttf' rel='stylesheet' type='text/ttf'>
 просто погода -->
 
 
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-6">
	<h1>Новости чистой энергетики</h1>
	<br> 
	<p>
	В небольшой французской деревне Tourouvre-au-Perche
	создали новый участок дороги из солнечных панелей.
	Поверхность дороги вымощенна тремя тысячами квадратных метров 
	прочных солнечных батарей.
	Длина участка около 1 км., производит 280 МВт в год.
	</p>
	<p>
	<blockquote class="twitter-tweet" data-lang="ru"><p lang="fr" dir="ltr">Plein feux sur la 1ère route <a href="https://twitter.com/hashtag/solaire?src=hash">#solaire</a> française &gt; <a href="https://t.co/115eubaIeC">https://t.co/115eubaIeC</a> <br>Habitants de l&#39;Orne, l&#39;avez-vous vu ? <a href="https://twitter.com/hashtag/ENR?src=hash">#ENR</a> <a href="https://t.co/alx5erLSIZ">pic.twitter.com/alx5erLSIZ</a></p>&mdash; ekWateur (@ekWateur) <a href="https://twitter.com/ekWateur/status/806778704349175808">8 декабря 2016 г.</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</p>
	 
	<br>
	<p>В Дубае запущен проект крупнейшей в мире электростанции с солнечным коллектором, 
	сообщает в субботу эмиратское издание The National. 
	Мощность электростанции составит 700 мегаватт. 
	Высота сооружения для улавливания отраженных солнечных лучей —  260 метров. 
	Это самое высокое подобное сооружение в мире на настоящий момент.</p>
	<p>
	<blockquote class="twitter-tweet" data-lang="ru"><p lang="en" dir="ltr">The project boasts a 260 meter solar power tower, and is part of our mission to rely on renewable energy for 75% of Dubai&#39;s needs by 2050. <a href="https://t.co/9pWtOH3KdT">pic.twitter.com/9pWtOH3KdT</a></p>&mdash; HH Sheikh Mohammed (@HHShkMohd) <a href="https://twitter.com/HHShkMohd/status/909069203793223681">16 сентября 2017 г.</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</p>

	<br>
	<p>
	Возобновляемые источники энергии ( ветер, солнечная энергия, гидроэнергия) 
	покрыли 22,1% потребления электроэнергии во Франции во втором квартале текущего года, 
	и в основном благодаря постоянному развитию технологий. 
	</p>
	<p>
	<blockquote class="twitter-tweet" data-lang="ru"><p lang="fr" dir="ltr"><a href="https://twitter.com/hashtag/France?src=hash">#France</a>: les <a href="https://twitter.com/hashtag/renouvelables?src=hash">#renouvelables</a> assurent 22,1% de la consommation électrique au 2e trimestre.<a href="https://twitter.com/hashtag/%C3%A9nergie?src=hash">#énergie</a> <a href="https://twitter.com/hashtag/%C3%A9olien?src=hash">#éolien</a> <a href="https://twitter.com/hashtag/solaire?src=hash">#solaire</a><br> <a href="https://t.co/5lqY1JUpKg">https://t.co/5lqY1JUpKg</a> <a href="https://t.co/e3j8NlXMpf">pic.twitter.com/e3j8NlXMpf</a></p>&mdash; Monde de L&#39;Énergie (@lemondelenergie) <a href="https://twitter.com/lemondelenergie/status/911667579948806144">23 сентября 2017 г.</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</p>

	<br>
	<p>
	Новости из Китая:
	Построена ферма по добыче энергии в форме гигантской панды. 
	Милая зверушка панда счиается символом нового 
	Китая и активно используется как талисман и сфере иновационной промышленности.
	</p>
	<p>
	<blockquote class="twitter-tweet" data-lang="ru"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/China?src=hash">#China</a> builds <a href="https://twitter.com/hashtag/solar?src=hash">#solar</a> farm shaped like a panda to promote <a href="https://twitter.com/hashtag/greenenergy?src=hash">#greenenergy</a> to <a href="https://twitter.com/hashtag/youth?src=hash">#youth</a>, able to power more than 8,000 households <a href="https://twitter.com/UNDP">@UNDP</a> <a href="https://t.co/sWzab0I2sG">pic.twitter.com/sWzab0I2sG</a></p>&mdash; UN Climate Change (@UNFCCC) <a href="https://twitter.com/UNFCCC/status/883307578729652224">7 июля 2017 г.</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</p>
</div>

<div class="col-md-4">

	<p class="colomn-news">
	<b>Франция запустила крупнейшую в Европе солнечную электростанцию</b>
	<br>
	Энергокомплекс сможет обеспечить энергией город с 300 тысячами жителей.
	Компания Neoen построила энергокомплекс мощностью 300 мегаватт, 
	который построен в южной части департамента Жиронда недалеко от города Сестас. 
	Его работы достаточно для обеспечения энергией небольшого города на 300000 жителей.
	<br><br>	
		<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:33.671875% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BW2Rx-FlRnf/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от Renewable energy&amp;technologies (@yashel_energy)</a> <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-22T12:01:17+00:00">Июл 22 2017 в 5:01 PDT</time></p></div></blockquote> 
		<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
	</p>
	<br>

	<p class="colomn-news">
	<b>В Испании начала работу солнечная электростанция</b>
	<br>
	Самая большая в мире на 2009 год солнечная электростанция мощностью 20 мегаватт, 
	заработала в Испании. 
	Она способна обеспечить электричеством более 10 тысяч домов.
	Разработчик - компания Abengoa Solar
	<br><br>
		<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:48.199999999999996% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BW23e8ZFpUB/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Публикация от SolEnergy LLC (@solenergyllc)</a> <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-22T17:30:44+00:00">Июл 22 2017 в 10:30 PDT</time></p></div></blockquote>
		<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
	</p>

	
	<p class="colomn-news">
	<b>Инвестиции в долгосрочные проекты по развитию энергетических технологий растут  </b>
	<br>
	Группа богатейших людей мира вкладывает суммарно $1 млрд. в развитие экологически чистой энергетики
	Несколько богатейших людей мира, в числе которых основатель Microsoft Б.Гейтс и саудовский принц,
	директор Amazon Джефф Безос и 
	председатель совета директоров Alibaba Джек Ма
	инвестируют в фонд развития производства экологически чистой энергии — 
	Dubbed Breakthrough Energy Ventures. 
	</p>
</div> 
<div class="col-md-1">
</div>

</div>
<br><br><br>
<!-- code masonry  http://www.bootply.com/e9v07heVCH -->

		<!-- Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">&uarr;</a>
        <!-- STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--  PLUGIN STYLES -->
        <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
        <!-- THEME STYLES -->
        <link href="css/layout.min.css" rel="stylesheet" type="text/css"/>
        <!-- CORE PLUGINS -->
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <!-- <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> -->
        <!--  PLUGINS -->
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <!--  SCRIPTS -->
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/masonry.min.js" type="text/javascript"></script>